.cart-wrap {
    display: flex;
    flex-flow: column nowrap;
    width: inherit;
    height: inherit;
}

.item-wrap {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #4b4b4b2a;
}

#cart-total {
    display: flex;
    flex-flow: column;
    width: 600px;
    height: 300px;
    margin: auto;
    border-bottom: 1px solid #4b4b4b65;
    text-align: center;
    margin-top: 20px;
}

#cart-summary {
    display: flex;
    flex-flow: column;
    width: 90%;
    height: auto;
    margin: auto;
    border: 1px solid #4b4b4b65;
    padding: 40px;
    margin-top: 25px;
}

#item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#item-img {
    margin: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: scale-down;
}
#item-description {
    margin: auto;
}
#item-price {
    margin: auto;
}

#checkout {
    margin: auto;
    margin-top: 25px;
}