.cart-wrap {
    display: flex;
    flex-flow: column nowrap;
    width: inherit;
    height: inherit;
}

.item-wrap {
    justify-content: left;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #4b4b4b2a;
}

#cart-total {
    display: flex;
    flex-flow: column;
    width: 600px;
    height: 150px;
    margin: auto;
    border-bottom: 1px solid #4b4b4b65;
    text-align: center;
    margin-top: 20px;
}

#cart-summary {
    display: flex;
    flex-flow: column;
    width: 90%;
    height: auto;
    margin: auto;
    border: 1px solid #4b4b4b65;
    padding: 40px;
    margin-top: 25px;
}

#item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    width: 100%;
}

#item-img {
    margin: 10px;
    margin-right: 30px;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    object-fit: contain;
}

#item-description {
    width: 100%;
    margin-left: 10px;
    text-align: left;
}

#item-price {
    width: 100%;
    text-align: right;
}

#checkout {
    margin: auto;
    margin-top: 25px;
    background-color: rgba(38, 98, 209, 0.801);
}