#slideshow {
  display: flex;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  /* max-width: 1000px; */
  position: relative;
  /* margin: auto; */
}

.slide {
  width: 100%;
}
.slide > span {
  width: 100%;
  height: 100%;
}

.current-img {
  /* height: 100%; */
  width: 600px;
  margin-right: 10px;
}

.current-desc {
  width: 350px;
  text-align: left;
}
.current-price {
  position: absolute;
  width: 350px;
  text-align: center;
  top: 0;
  
}

#current-title {
  position: absolute;
  height: 25%;
  width: 600px;
  margin-right: 10px;
  background-color: rgba(128, 128, 128, 0.212);
  text-align: center;
  top: 0;
  font-weight: 900;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.685);
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media screen and (max-width: 740px) {
  #product-info {
    display: none;
  }
}